.zProp {
  z-index: 999;
}

#navbarclr {
  background: rgb(191, 210, 255);
  background: linear-gradient(
    30deg,
    rgba(191, 210, 255, 1) 2%,
    rgba(69, 187, 192, 1) 29%,
    rgba(157, 213, 244, 1) 64%,
    rgba(69, 187, 192, 1) 92%
  );
  padding: 0.3rem;
}

#navbtnclr {
  text-shadow: 1px 1px 3px #323340;
  padding-right: 2rem;
}

#loginbtnclr {
  color: #dcd6f7;
  background-color: #091ba2;
  font-weight: bold;
  border: none;
}

#loginbtnclr:hover {
  background-color: #dcd6f7;
  color: #091ba2;
}

#loginbtnclr1 {
  color: #dcd6f7;
  background-color: #091ba2;
  font-weight: bold;
  border: none;
}

#loginbtnclr1:hover {
  background-color: #dcd6f7;
  color: #091ba2;
}

#whomsg {
  font-weight: bolder;
  color: #def2f1;
}

.new-btn {
  border-radius: 5px;
  margin: 0.5em;
  width: 8rem;
}
