*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.mont {
  font-family: Montserrat, sans-serif;
}

.custom-card{
  border: 1px solid black;
  border-radius: 6% 6%;
  padding: 10px 20px;
  box-shadow: 4px 6px 15px rgb(0 0 0 / 25%);
}

.custom-card1{
  border: none;
  border-radius: 15px;
  padding: 10px 20px;
  box-shadow: 0 0px 20px rgb(0 0 0 / 20%);
}

.custom-txt{
  font-weight: 700;
  font-size: 1.4rem;
  color: rgb(59, 56, 56);
}

body {
  overflow-x: hidden; 
}

body ::-webkit-scrollbar{
  display: none;
}


.height-100{
  height: 100vh;
}