*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.custom-card{
  border: 1px solid black;
  border-radius: 18% 8%;
  padding: 10px 20px;
  box-shadow: 0 6px 12px rgb(0 0 0 / 50%);
}

.custom-card1{
  border: 1px solid black;
  padding: 10px 20px;
  box-shadow: 0 6px 12px rgb(0 0 0 / 50%);
}